html,
body {
  background-color: #fdfefe !important;
  color: #23273f !important;
  width: 100%;
  height: 100%;
}
a.nav-link {
  color: #23273f;
}

a.nav-link:hover {
  color: #e52324;
}
.bottom {
  color: #e52324 !important;
  bottom: 0;
  width: 100% !important;
  position: fixed;
}
