@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

html,
body {
  background-color: #fdfefe !important;
  color: #23273f !important;
  font-family: "Poppins", sans-serif !important;
}
a.nav-link {
  color: #23273f;
}

a.nav-link:hover {
  color: #e52324;
}
img {
  border: #23273f solid 2px;
}
