<div class="container">
  <nav class="navbar navbar-expand-lg" style="background-color: #fdfefe">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../static/logo.svg" alt="" />
      </a>
      <!--  -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--  -->
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Team</a>
          </li>
        </ul>
        <span class="navbar-text" style="color: #e52324"><b> #1131</b> </span>
      </div>
    </div>
  </nav>
</div>
