{% include 'header.html' %} {% include 'navbar.html'%}
<div class="container">
  <div class="row mt-5">
    <h3 class="text-end">Meet the team</h3>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sara Loutfi</h5>
          <p class="card-text">
            Chief Executive Officer at Algorite Consulting | Senior Technology
            Consultant
          </p>
          <a href="https://www.linkedin.com/in/sloutfi/" class="btn btn-danger"
            >linkedin</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-12 my-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rababe Azil</h5>
          <p class="card-text">Full-Stack Developer</p>
          <a
            href="https://www.linkedin.com/in/rababe-azil-1b88861b3/"
            class="btn btn-danger"
            >linkedin</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Joel A. Adejola</h5>
          <p class="card-text">Writer | Investigative Journalist</p>
          <a
            href="https://www.linkedin.com/in/joeladejola/"
            class="btn btn-danger"
            >linkedin</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
