{% include 'header.html' %} {% include 'navbar.html'%}
<div class="container">
  <div class="row mt-5">
    <h3 class="text-end">Meet the team</h3>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>Sara Loutfi</b></h5>
          <p class="card-text">
            Chief Executive Officer at Algorite Consulting | Senior Technology
            Consultant
          </p>
          <a
            href="https://www.linkedin.com/in/sloutfi/"
            class="btn btn-outline-primary d-flex justify-content-end"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 my-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>Rababe Azil</b></h5>
          <p class="card-text">Full-Stack Developer</p>
          <a
            href="https://www.linkedin.com/in/rababe-azil-1b88861b3/"
            class="btn btn-outline-primary d-flex justify-content-end"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>Joel A. Adejola</b></h5>
          <p class="card-text">Writer | Investigative Journalist</p>
          <a
            href="https://www.linkedin.com/in/joeladejola/"
            class="btn btn-outline-primary d-flex justify-content-end"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
